.radiobox {
    position: relative;
    color: #888;
    height: 17px;
    line-height: 17px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding-left: 22px;
    background: url(./radiobox.png) no-repeat;
    overflow: hidden;
    vertical-align: middle;
}

.radiobox.active {
    background: url(./radiobox.png) no-repeat 0 -17px;
}

.radiobox input {
    position: absolute;
    left: -100px;
}